# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class
# Package Files #
*.war
*.ear
# Generic files #
*~
*.lock
*.DS_Store
*.swp
*.out
/README-MarkdownPadPreview.html
nbproject/phpcsmd.properties
